---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
const isEs = Astro.url.pathname.includes('/es');
---

<!DOCTYPE html>
<html lang={isEs ? "es" : "en"}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PHS Desarrollos - Industrial Warehouse Leasing">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="https://phs-desarrollos.com/wp-content/uploads/2026/02/cropped-Favicon-PHS-32x32.png" sizes="32x32">
		<link rel="icon" href="https://phs-desarrollos.com/wp-content/uploads/2026/02/cropped-Favicon-PHS-192x192.png" sizes="192x192">
		<link rel="apple-touch-icon" href="https://phs-desarrollos.com/wp-content/uploads/2026/02/cropped-Favicon-PHS-180x180.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{isEs && (
			<>
				<!-- Google Tag Manager -->
				<script is:inline>
					(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-TPKFFBWC');
				</script>
				<!-- End Google Tag Manager -->
			</>
		)}
	</head>
	<body>
		{isEs && (
			<>
				<!-- Google Tag Manager (noscript) -->
				<noscript>
					<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPKFFBWC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
				</noscript>
				<!-- End Google Tag Manager (noscript) -->
			</>
		)}
		<slot />
	</body>
</html>
